:root {
  --white: #f4f0eb;
  --black: #232425;
  --blue: #07beb8;
  --yellow: #ffee09;

  --font-primary: 'Arimo', serif;
  --font-secondary: 'Cabin', serif;
  --font-tertiary: 'Libre Franklin', serif;

  --breakpoint-desktop: 1440px;
  --breakpoint-mobile: 864px;

  --font-size-large: 1.8rem;
  --font-size-medium: 1.2rem;
  --font-size-small: 1rem;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--font-tertiary);
    list-style: none;
}

a {
  text-decoration: none;
}

body {
  color: var(--black);
  background-color: rgba(35, 36, 37, .8);
}

main {
  max-width: var(--breakpoint-desktop);
  margin: 0 auto;
  background-color: rgba(35, 36, 37, .8);
  border-bottom: 1px solid rgba(255, 238, 9, .5);
}

h1 {
  font-family: var(--font-primary);
  font-size: var(--font-size-large);
}

h3 {
  font-size: var(--font-size-medium);
  font-family: var(--font-secondary);
}

p {
  font-size: var(--font-size-small);
}

header {
  position: sticky;
  top: 0;
  z-index: 1000;
  background-color: var(--black);
} 

header>div {
  display: flex;
  padding: .5em;
  justify-content: center;
  margin: 0 auto;
  align-items: center;
  max-width: var(--breakpoint-desktop);
  border-bottom: 1px solid rgba(255, 238, 9, .5);
}

header .title {
  display: flex;
  flex-direction: column;
  font-weight: bold;
}
header img {
  max-width: 80%;
  padding: 0;
  max-height: 80%;
  border-radius: 50%;
}

header .title h1,
header .title p {
  display: flex;
  color: var(--yellow);
}

.menu-toggle {
  display: flex;
  padding: 0 1em;
  flex-direction: column;
  cursor: pointer;
  margin-top: 1em;
  margin-left: 3em;
}

.menu-toggle .hamburger {
  width: 30px;
  height: 3px;
  background-color: var(--yellow);
  border-radius: 5px;
  position: relative;
  transition: all 0.3s ease;
}

.hamburger::before,
.hamburger::after {
  content: '';
  position: absolute;
  width: 30px;
  height: 3px;
  background-color: var(--yellow);
  border-radius: 5px;
  transition: all 0.3s ease;
}

.hamburger::before {
  top: -8px;
}

.hamburger::after {
  bottom: -8px;
}

.menu-toggle.active .hamburger {
  background-color: transparent;
}

.menu-toggle.active .hamburger::before {
  transform: rotate(45deg);
  top: 0;
}

.menu-toggle.active .hamburger::after {
  transform: rotate(-45deg);
  bottom: 0;
}

.menu {
  display: none; 
  flex-direction: column;
  position: absolute;
  top: 115px;
  right: 0;
  gap: 1em;
  background-color: var(--black);
  width: 100%;
  padding: 1rem;
}

.menu.active {
  display: flex; 
}

.menu li {
  text-align: center;
  font-weight: bold;
}
.menu li a:not(.active-link) {
  color: var(--white);
}

.menu li a:not(.active-link):hover {
  color: var(--yellow);
  transition: ease-in-out .3s;
}

.active-link {
  color: var(--yellow);
}
.active-link:hover {
  color: var(--yellow);
  opacity: 0.8;
}

.businesses-list {
  margin: 1em auto;
  max-width: 90%;
  grid-template-columns: 1fr;
}
.businesses-list.grid{
  gap: 1em;
  display: grid;
}

.business-card {
  margin: 0 auto;
  max-width: 90%;
  background-color: var(--black);
  border-radius: 10px;

  color: var(--white);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.membership-level {
  border-radius: 10px;
  padding: 0.3em;
  text-align: center;
  font-weight: bold;
  color: var(--white);
}

.card-header {
  background-color: var(--blue);
  padding:1em;
  text-align: center;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;

}
.card-header>div{
  padding: .5em;
  background-color: var(--black);
  border-radius: 10px;
  max-height: 170px;
  min-height: 100px;
}

.card-header h1 {
  white-space: wrap;
  font-weight: bold;
  font-size: var(--font-size-large);
  color: var(--yellow);
}

.card-header p {
  margin: 5px 0 0;
  font-size: var(--font-size-medium);
}

.card-body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 15px;
  padding: 20px;
}

.card-image {
  max-width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.card-image img, .svg-image {
  max-width: 50%;
  max-height: 50%;
  background-color: var(--black);
  border-radius: 8px;
}

.card-details {
  text-align: left;
  flex-grow: 1
}

.card-details a {
  color: var(--yellow);
}
.card-details a:hover{
  text-decoration: underline;
}

.card-details p {
  margin: 8px 0;
  font-size: var(--font-size-small);
  color: var(--yellow);
}

.card-details strong {
  color: var(--white);
}

.businesses-list.list{
  display: flex;
  flex-direction: column;
}

.business-row {
  display: flex;
  flex-direction: column;
  align-items: center; 
  justify-content: space-between; 
  padding: 10px 15px;
  border-bottom: 3px solid var(--blue); 
  background-color: var(--black);
  transition: background-color 0.3s;
  text-align: left;
  color: var(--white);
}

.membership.button {
  background-color: var(--black);
  color: var(--white);
}


.row-item {
  padding: .7em;
  margin: 0 auto; 
  text-align: left; 
}

footer {
  background-color: var(--black); 
  color: var(--white); 
  padding: 30px;
  font-size: 0.9em;
  margin: 0 auto;
}

.footer-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 20px;
  max-width: var(--breakpoint-desktop);
  margin: 0 auto;
}

footer h4 {
  color: var(--yellow); 
  font-size: 1.2em;
  margin-bottom: 10px;
}

footer p {
  margin: 5px 0;
  line-height: 1.5;
}

footer a {
  color: var(--blue); 
  text-decoration: none;
}

footer a:hover {
  text-decoration: underline;
}

footer i {
  margin-right: 8px; 
  color:var(--blue); 
}

.Gold {
  font-weight: bold;
  color: gold;
}

.Silver {
  color: silver;
  font-weight: bold;
}

.Member {
  color: rgb(165, 89, 42);
  font-weight: bold;
}

.button {
  margin-top: 1em;
  font-family: var(--font-secondary);
  font-weight: bold;
  padding: 0.5em 3em;
  font-size: var(--font-size-small);
  border-radius: 10px;
  background-color: var(--yellow);
  cursor: pointer;
  text-align: center;
  max-width: 300px;
  margin: 0 auto;
}

#list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-top: 1em;
  list-style: none;
}
#list>h2{
  color: var(--yellow);
  margin: .5em auto;
}

.events-actions {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  gap: 15px; 
  margin-top: 1rem; 
}

.events-actions a {
  display: inline-block;
  padding: 10px 1rem; 
  color: var(--yellow); 
  font-size: 1rem;
  font-weight: bold;
  border: 2px solid var(--yellow); 
  border-radius: 8px; 
  transition: all 0.3s ease; 
}

.events-actions a:hover {
  background-color:var(--yellow); 
  color: var(--black);
  transform: scale(1.05); 
}
@media screen and (min-width:700px) {
  .events-actions {
    flex-direction: row;
  }

  .menu-toggle {
    display: none; 
  }

  .menu {
    display: flex; 
    flex-direction: row;
    position: static;
    background-color: transparent;
    width: auto;
    padding: 0;
  }

  header {
    position: relative;
  }

  .menu li {
    margin: 0 1rem;
    text-align: left;
  }

  .businesses-list {
    grid-template-columns: 1fr 1fr;
  }
}

@media screen and (min-width:1000px) {
  .businesses-list {
    grid-template-columns: 1fr 1fr 1fr;
  }
}